/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
	min-inline-size: 320px;
	min-block-size: 100dvb;
	padding-top: 100px;
	font-family: var(--main-font), sans-serif;
	font-variation-settings: "wght" var(--text-weigh);
	font-size: 18px;
	background-size: cover;
	background-image: var(--fon);
}

.container {
	max-width: var(--container-size);
	margin: 0 auto;
}

.header {
	display: grid;
	place-content: center;
	place-items: center;
	gap: 20px 0;
	padding: clamp(7.5rem, 0.751vw + 7.324rem, 8rem) 0;
	margin-bottom: 100px;
	background-color: #fff;
	border: 2px solid #000;
	font-family: var(--accent-font), sans-serif;
	line-height: 1;
	text-transform: uppercase;
}

.header__title {
	font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
	font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.card {
	border: 2px solid #000;
	background-color: #fff;
}

.card__title {
	font-size: 18px;
	line-height: 1.21;
	padding: 4.625px 10px 4.624px 10px;
}

@media (width < 768px) {
	.card__title {
		padding: 4.249px 10px;
	}
}

.card__picture {
	position: relative;
	aspect-ratio: 1/1;
	overflow: hidden;
}

.card__logo {
	position: absolute;
	top: 0;
	right: 0;
	padding: 25px 25px 0 0;
	font-family: var(--accent-font), sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	opacity: 0.5;
	mix-blend-mode: hard-light;
	/* обводка */
	text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}

@media (width < 576px) {
	.card__logo {
		padding: 25px 13px 0 0;
	}
}

/* обводка */
@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
	.card__logo {
		-webkit-text-stroke: 1px #fff;
		text-stroke: 1px #fff;
		text-shadow: none;
	}
}

.card__image {
	width: 100%;
	aspect-ratio: 1/1;
}

.card__caption {
	padding: 25px;
	display: flex;
	flex-direction: column;
	gap: 25px 0;
}

.button {
	border: none;
	background: none;
	padding: 0;
	position: relative;
}

.button__text {
	position: relative;
	z-index: 1;
	color: #fff;
	mix-blend-mode: difference;
}

.button:hover {
	cursor: pointer;
}

.card__like {
	display: flex;
	gap: 0 12px;
	align-items: center;
	margin-left: auto;
}

/* сердечко */
.card__icon-button {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: outline 0.3s ease;
}

.sparks {
	opacity: 0;
}

.core {
	fill: transparent;
	transition: fill 0.3s linear 0.03s;
}
.card__icon-button:hover .core {
	fill: var(--black);
	transition: fill 0.3s linear;
}
.card__icon-button:active .core {
	fill: var(--red);
	transition: fill 0.3s linear;
}
.like-icon.is-liked .core {
	fill: var(--red);
	transition: fill 0.3s linear;
}

.main-body {
	fill: transparent;
	transition: fill 0.3s linear;
}
.card__icon-button:hover .main-body {
	fill: var(--black);
	transition: fill 0.3s linear 0.05s;
}
.card__icon-button:active .main-body {
	fill: var(--red);
	transition: fill 0.3s linear 0.05s;
}
.like-icon.is-liked .main-body {
	fill: var(--red);
	transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
	fill: var(--red);
	transition: fill 0.3s linear 0.06s;
}

@keyframes heart-scale {
	0% {
		transform: scale(1);
		transform-origin: center;
	}
	100% {
		transform: scale(1.25);
		transform-origin: center;
	}
}

.heart {
	transform-origin: center;
}

.like-icon.is-liked .heart {
	transform-origin: center;
	animation: heart-scale 0.3s ease-in 0.1s;
}

@keyframes sparks-animation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.like-icon.is-liked .sparks {
	animation: sparks-animation 0.3s ease-in 0.3s;
}

/* сердечко */

.card__icon-button:focus {
	outline: none;
}
.card__icon-button:focus-visible {
	outline: 2px solid #000;
	outline-offset: -1px;
	transition: outline 0.3s ease;
}

/* Like */
.card__like-button {
	width: 169px;
	height: 38px;
	border: 2px solid #000;
	font-size: 14px;
	line-height: 0.9;
	font-family: var(--accent-font), sans-serif;
	transition: box-shadow 0.3s;
}
/* сохранить */
.footer__save-button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	width: 355px;
	height: 55px;
	margin: 50px auto 100px;
	border: 2px solid #000;
	font-size: 14px;
	line-height: 1;
	font-family: var(--accent-font), sans-serif;
	background-color: #fff;
}

/* Like и сохранить focus */
.card__like-button:focus,
.footer__save-button:focus {
	outline: none;
}
.card__like-button:focus-visible,
.footer__save-button:focus-visible {
	outline: none;
	box-shadow: 2px 2px 0 0 #000;
	transition: box-shadow 0.3s;
}

/* Like и сохранить псевдоэлемент */
.card__like-button::before,
.footer__save-button::before {
	content: "";
	top: 0;
	left: 0;
	position: absolute;
	height: 100%;
	width: 0%;
	background-color: #000;
	transition: width 0.5s ease-in-out;
}
/* Like и сохранить hover */
.card__like-button:hover::before,
.footer__save-button:hover::before {
	width: 100%;
	transition: width 0.5s ease-in-out;
}

.footer__floppy {
	align-self: center;
	width: 21px;
	height: 21px;
	position: relative;
	z-index: 1;
	color: #fff;
	mix-blend-mode: difference;
}

@media (width < 576px) {
	.footer__save-button {
		flex-direction: column;
		width: 306px;
		height: 84px;
	}

	.footer__floppy {
		width: 28px;
		height: 28px;
	}
}

.dialog {
	position: fixed;
	inset: 0;
	display: grid;
	gap: 30px 20px;
	width: 353px;
	height: 191px;
	place-content: center;
	grid-template-columns: repeat(2, auto);
	transition: opacity 0.3s ease-in-out;
	border: 2px solid #000;
	padding: 30px;
	overflow: hidden;
}

.dialog::backdrop {
	background-color: rgb(0 0 0 / 0.75);
}

.dialog:not([open]) {
	opacity: 0;
	pointer-events: none;
}

.dialog__form {
	grid-column: span 2;
}

.dialog__text {
	font-family: var(--accent-font), sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	text-transform: uppercase;
}

.close-button {
	width: 100%;
	height: 38px;
	font-size: 14px;
	line-height: 1;
	font-family: var(--accent-font), sans-serif;
	border: 2px solid #000;
}

@media (width < 576px) {
	.dialog {
		width: 341px;
	}
}
