/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
	--main-font: Inter-Variable;
	--accent-font: PressStart2P;
	--text-weight: 400;
	--title-weight: 700;
	--container-size: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
	--red: #ff0000;
	--white: #fff;
	--black: #000;
	--fon: repeating-linear-gradient(
			to right,
			#d3d3d3,
			#d3d3d3 2px,
			transparent 2px,
			transparent 4px
		),
		repeating-linear-gradient(
			to bottom,
			#d3d3d3,
			#d3d3d3 2px,
			transparent 2px,
			transparent 4px
		),
		linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}

@media (width < 576px) {
	:root {
		--container-size: 100%;
	}
}
